html, body {
	height: 100%;
	position: relative;
}

.section {
	position: relative;
    overflow: hidden;
    min-height: 350px;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    background: #fff;
	
}

#overview .section {
	/* background-image: url('../assets/img/bgsection2.jpg'); */
	background:#ffffff;
	background-repeat: no-repeat;
	background-position: center;
}

#overview .content {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}


#location .section {
	background-image: url('../assets/img/bgheaderwrap.jpg');
	/* background:#000000; */
	background-repeat: no-repeat;
	background-position: center;
}

#location .content {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}

#theme .section {
	/* background-image: url('../assets/img/bgsection2.jpg'); */
	background:#ffffff;
	background-repeat: no-repeat;
	background-position: center;
}

#theme .content {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#announcements .section {
	background-image: url('../assets/img/bgheaderwrap.jpg');
	background-repeat:no-repeat;
	background-position:center;
}

#announcements .content {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#announcements .section .panel-body {
	font-weight:bold;
}

/* Horizontal Lines */
.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}

/* Navbar */
.navbar {
	color:#ffffff;
}

/* Header */
#headerwrap {
	/* background-color: #6666ff; */
	color:white;
	background-image: url('../assets/img/bgheaderwrap.jpg');
	background-repeat:no-repeat;
	background-position:center;
	min-height: 0px;
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
}

#headerwrap .img-responsive {
	margin: 0 auto;
}

/* Footer */
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #384452;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: #ffffff;
}

#footerwrap i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #6666ff
}